.pane {
    -fx-background-color: #25e47a;
}

.addButton {
    -fx-background-color: #b4fd65;
    -fx-font-family: "Montserrat-Regular";
}

.delButton {
    -fx-background-color: #b4fd65;
    -fx-font-family: "Montserrat-Regular";
}

.quitButton {
    -fx-background-color: #b4fd65;
    -fx-font-family: "Montserrat-Regular";
    -fx-background-image: url("ic_clear_black_24dp.png");
    -fx-background-position: center;
    -fx-background-radius: 40px;
}

.signOutButton {
    -fx-background-color: #b4fd65;
    -fx-font-family: "Montserrat-Regular";
}

.listView {
    -fx-background-color: #b4fd65;
}

.textArea {
    -fx-background-color: #25e47a;
    -fx-font-family: "Montserrat-Bold";
    -fx-font-size: 24px;
    -fx-text-alignment: center;
}

.signOutButton:focused {
    -fx-background-color: #9bdd5b;
}

.addButton:focused {
    -fx-background-color: #9bdd5b;
}

.delButton:focused {
    -fx-background-color: #9bdd5b;
}