@font-face {
    font-family: 'Montserrat-Regular';
    src: url('Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('Montserrat-Bold.ttf');
}


.thebackground {
    -fx-background-color: #F9AF0C;
}


.usernameTextField {
    -fx-background-color: #432f03 , #F9AF0C, #F9AF0C;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-font-family: "Montserrat-Regular";

}

.passwordField {
    -fx-background-color: #432f03 , #F9AF0C, #F9AF0C;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-font-family: "Montserrat-Regular";
}

.passwordLabel {
    -fx-font-family: "Montserrat-Bold";
    -fx-font-size: 20;
}

.usernameLabel {
    -fx-font-family: "Montserrat-Bold";
    -fx-font-size: 20;
}

.loginButton {
    -fx-background-color: #d34858;
    -fx-font-family: "Montserrat-Regular";
    -fx-font-size: 20;
}

.loginButton:focused {
    -fx-background-color: #b62e41;
}


.registerButton {
    -fx-background-color: #e59c0c;
    -fx-font-family: "Montserrat-Regular";
}

.closeButton {
    -fx-background-image: url("ic_clear_black_24dp.png");
    -fx-background-position: center;
    -fx-background-color: #d34858;
    -fx-background-radius: 40px;
}

.registerButton:focused {
    -fx-background-color: #b62e41;
}